In [61]:
import pandas as pd

# get the current directory
import os
print(os.getcwd())

/Users/shinojphilipjohn/Github/data-engg-science-projects/customer_churn_ml/notebooks

In [62]:
# import the dataset
dataset=pd.read_csv("/Users/shinojphilipjohn/Github/data-engg-science-projects/customer_churn_ml/dataset/Telco-Customer-Churn_Data_Prep.csv")

df=pd.DataFrame(dataset)

In [63]:
# Feature Engineering

# def binary_encoding(column):
#     df[f"{column}_yes"]=1
#     df[f"{column}_no"]=0
#     for i in range(0,df.shape[0]):
#         if df[column][i]=='Yes':
#             df[f"{column}_yes"][i]=1
#             df[f"{column}_no"][i]=0
#         elif df[column][i]=='No':
#             df[f"{column}_yes"][i]=0
#             df[f"{column}_no"][i]=1 
#     df.drop(column,axis=1,inplace=True)
        
def binary_encoding(column):
    df[column].replace('Yes',1,inplace=True)
    df[column].replace('No',0,inplace=True)

In [64]:
df

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,2,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [65]:
# print(df)
binary_encoding('Partner')
binary_encoding('Dependents')
binary_encoding('PhoneService')
binary_encoding('PaperlessBilling')
binary_encoding('Churn')

/var/folders/78/3hmtybm90l5cdkpr93hh4yy00000gn/T/ipykernel_9374/3421476539.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].replace('Yes',1,inplace=True)
/var/folders/78/3hmtybm90l5cdkpr93hh4yy00000gn/T/ipykernel_9374/3421476539.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].replace('No',0,inplace=True)
/var/folders/78/3hmtybm90l5cdkpr93hh4yy00000gn/T/ipykernel_9374/3421476539.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[column].replace('No',0,inplace=True)

In [66]:
df

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,Female,0,1,0,1,0,No phone service,DSL,No,...,No,No,No,No,Month-to-month,1,Electronic check,29.85,29.85,0
1,1,Male,0,0,0,34,1,No,DSL,Yes,...,Yes,No,No,No,One year,0,Mailed check,56.95,1889.50,0
2,2,Male,0,0,0,2,1,No,DSL,Yes,...,No,No,No,No,Month-to-month,1,Mailed check,53.85,108.15,1
3,3,Male,0,0,0,45,0,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,4,Female,0,0,0,2,1,No,Fiber optic,No,...,No,No,No,No,Month-to-month,1,Electronic check,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,Male,0,1,1,24,1,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,1,Mailed check,84.80,1990.50,0
7039,7039,Female,0,1,1,72,1,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,1,Credit card (automatic),103.20,7362.90,0
7040,7040,Female,0,1,1,11,0,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,1,Electronic check,29.60,346.45,0
7041,7041,Male,1,1,0,4,1,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,1,Mailed check,74.40,306.60,1
7042,7042,Male,0,0,0,66,1,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,1,Bank transfer (automatic),105.65,6844.50,0

In [67]:
def one_hot_encoding(column):
    col_unique=df[column].unique()
    col_temp=[]
    for x in range(len(col_unique)):
        col_unique[x]=col_unique[x].replace(' ','_')
        col_temp.append(column+'_'+col_unique[x])

    for x in range(len(col_temp)):
        df[col_temp[x]]=0

    for x in range(len(col_temp)):
        df[col_temp[x]]=(df[column]==col_unique[x]).astype(int)

    df.drop(column,inplace=True,axis=1)

In [68]:
one_hot_encoding('MultipleLines')
one_hot_encoding('InternetService')
one_hot_encoding('OnlineSecurity')
one_hot_encoding('OnlineBackup')
one_hot_encoding('DeviceProtection')
one_hot_encoding('TechSupport')
one_hot_encoding('StreamingTV')
one_hot_encoding('StreamingMovies')
one_hot_encoding('Contract')
one_hot_encoding('PaymentMethod')

In [69]:
df.columns

Index(['Unnamed: 0', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'PaperlessBilling', 'MonthlyCharges',
       'TotalCharges', 'Churn', 'MultipleLines_No_phone_service',
       'MultipleLines_No', 'MultipleLines_Yes', 'InternetService_DSL',
       'InternetService_Fiber_optic', 'InternetService_No',
       'OnlineSecurity_No', 'OnlineSecurity_Yes',
       'OnlineSecurity_No_internet_service', 'OnlineBackup_Yes',
       'OnlineBackup_No', 'OnlineBackup_No_internet_service',
       'DeviceProtection_No', 'DeviceProtection_Yes',
       'DeviceProtection_No_internet_service', 'TechSupport_No',
       'TechSupport_Yes', 'TechSupport_No_internet_service', 'StreamingTV_No',
       'StreamingTV_Yes', 'StreamingTV_No_internet_service',
       'StreamingMovies_No', 'StreamingMovies_Yes',
       'StreamingMovies_No_internet_service', 'Contract_Month-to-month',
       'Contract_One_year', 'Contract_Two_year',
       'PaymentMethod_Electronic_check', 'PaymentMethod_Mailed_check',
       'PaymentMethod_Bank_transfer_(automatic)',
       'PaymentMethod_Credit_card_(automatic)'],
      dtype='object')

In [70]:
df['gender'].replace('Female',0,inplace=True)
df['gender'].replace('Male',1,inplace=True)

/var/folders/78/3hmtybm90l5cdkpr93hh4yy00000gn/T/ipykernel_9374/3223297464.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gender'].replace('Female',0,inplace=True)
/var/folders/78/3hmtybm90l5cdkpr93hh4yy00000gn/T/ipykernel_9374/3223297464.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gender'].replace('Male',1,inplace=True)
/var/folders/78/3hmtybm90l5cdkpr93hh4yy00000gn/T/ipykernel_9374/3223297464.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender'].replace('Male',1,inplace=True)

In [71]:
df
df.drop("Unnamed: 0",axis=1,inplace=True)

In [72]:
df.to_csv("/Users/shinojphilipjohn/Github/data-engg-science-projects/customer_churn_ml/dataset/Telco-Customer-Churn_feature_engg.csv")